.footer-wrapper {
    background-color: #4e5b61;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 90%;
    margin: 0 auto;
    margin: 25px 0;   
}

.footer-links {
    display: flex;
    flex-direction: column;


    a {
        text-decoration: none;
        color: white;
        transition: 0.3s;
        font-size: 0.8rem;

        &:hover {
            color: #f1c40f;
        }
    }
}

.left-row { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
        width: 100px;
        height: 100px;
    }
}

.middle-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    margin-bottom: 10px;

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 0.8rem;
    }
}

.right-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    margin-bottom: 10px;


    svg {
        width: 25px;
        height: 25px;
        margin: 0 10px;
        cursor: pointer;
        transition: 0.3s;
        color: whitesmoke;

        &.facebook:hover {
            color: #3b5998;
        }

        &.twitter:hover {
            color: #1da1f2;
        }

        &.linkedin:hover {
            color: #0077b5;
        }
    }
}

.created  {
    text-align: center;
    background-color: #3a3f42;
    
    p {
        color: aliceblue;
        cursor: pointer;
        margin: 0;
        transition: 0.3s;

        &:hover {
            color: #f1c40f;
        }
    }
}